<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.frenchnf</string>
	<key>CFBundleName</key>
	<string>French NF</string>
	<key>CFBundleVersion</key>
	<string>0.0.9</string>
	<key>KLInfo_French - NF</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.frenchnf.french-nf</string>
		<key>TISIntendedLanguage</key>
		<string>fr</string>
	</dict>
</dict>
</plist>
